.container{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        
      
  }
  
  div{
      font-size: 3rem;
  }
  
  .color--div__red{
    background-color: red;
  }
  
  .color--div__purple{
    background-color: purple;
  }
  
  .color--div__yellow{
    background-color:yellow;
  }
  
  .color--div__green{
    background-color: green
  }

  