

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto ;
    
  }

header{
    grid-column: 1/span 13;
}
  section{
    grid-column: 1/ span 8;
    
  }

  aside{
    grid-column: 9/14;
    

  }

  footer{
    grid-column: 1 / span 13;
    height: 100px;

  }
  
  header, nav, h1, section, aside, footer {
    border: 2px solid black;
  }
  
  